<app-top-banner></app-top-banner>

<section>
  <div class="container">
    <div id="FreeStartupTemplatesArea my-5" style="padding: 10px; border: 1px solid #ededed;">
      <h3 style="border-bottom: 5px solid #00AD80; padding-bottom: 8px; color: #00AD80; font-weight: 400">Free Startup
        Templates</h3>

      <div class="row">
        <div class="col-md-12">
          <p class="lead">Select tools you like and let it to create a solution for you.</p>
        </div>
      </div>

      <div class="template-create-area">

        <!-- Tabs -->
        <div class="tabs template-tabs wizard clearfix" role="application" id="steps-uid-0">
          <div class="steps clearfix">
            <ul role="tablist">
              <li role="tab" aria-disabled="false" class="first current" aria-selected="true"><a id="steps-uid-0-t-0"
                  href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0"><span class="current-info audible"> </span>
                  ASP.NET Core </a></li>
              <li role="tab" aria-disabled="false" class="last"><a id="steps-uid-0-t-1" href="#steps-uid-0-h-1"
                  aria-controls="steps-uid-0-p-1"> ASP.NET MVC 5.x </a></li>
            </ul>
          </div>
          <div class="content clearfix">
            <h4 class="tab-title title current" id="steps-uid-0-h-0" tabindex="-1"> ASP.NET Core </h4>
            <div class="tab-content body current" id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0"
              aria-hidden="false">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Template Version</label>
                    <select id="ProjectFrameworkVersionSelect" name="ProjectFrameworkVersion" class="form-control valid"
                      aria-invalid="false">
                      <option value="v9x" selected="selected">v9.x</option>
                      <option value="v8x">v8.x</option>
                      <option value="v7x">v7.x</option>
                      <option value="v5x">v5.x</option>
                      <option value="v3x">v3.x</option>
                      <option value="v2x">v2.x</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Target Framework:</label>
                    <select id="ProjectFrameworkSelect" name="ProjectFramework" class="form-control valid"
                      aria-invalid="false" disabled="disabled">
                      <option value="net8.0" selected="selected">.NET 8 (Cross Platform)</option>
                      <option value="net7.0">.NET 7 (Cross Platform)</option>
                      <option value="net6.0">.NET 6 (Cross Platform)</option>
                      <option value="net5.0">.NET 5 (Cross Platform)</option>
                      <option value="netcoreapp1.1">.NET Core (Cross Platform)</option>
                      <option value="net461">Full .NET Framework</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 template-step-option template-option-architecture template-step-option-selected"
                  data-librariy="angular2">
                  <div>
                    <div class="template-step-left">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="template-step-right">
                      <h5>Single Page Web Application</h5>
                      <img src="assets/images/asset 1.png">
                    </div>
                  </div>
                </div>



                <div class="col-md-4 template-step-option template-option-architecture" data-librariy="mpa-core">
                  <div>
                    <div class="template-step-left">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="template-step-right">
                      <h5>Multi Page Web Application</h5>
                      <p>Web application with server rendered HTML; ASP.NET MVC &amp; jQuery.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h4 class="tab-title title" id="steps-uid-0-h-1" tabindex="-1"> ASP.NET MVC 5.x </h4>
            <div class="tab-content body" id="steps-uid-0-p-1" role="tabpanel" aria-labelledby="steps-uid-0-h-1"
              aria-hidden="true" style="display: none;">
              <div class="row">
                <div class="col-md-12">
                  <h4>Architecture</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 template-step-option template-option-architecture template-step-option-selected"
                  data-librariy="angular">
                  <div>
                    <div class="template-step-left">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="template-step-right">
                      <h5>Single Page Web Application</h5>
                      <img src="assets/images/asset 2.png">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 template-step-option template-option-architecture" data-librariy="mpa">
                  <div>
                    <div class="template-step-left">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="template-step-right">
                      <h5>Multi Page Web Application</h5>
                      <p>Web application with server rendered HTML; ASP.NET MVC &amp; jQuery.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div>
                    <h4>Object-Relational Mapper</h4>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 template-step-option template-option-orm template-step-option-selected"
                  data-librariy="ef">
                  <div>
                    <div class="template-step-left">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="template-step-right">
                      <h5>Entity Framework</h5>
                      <img src="/images/logos/entityframework-logo.png">
                    </div>
                  </div>
                </div>
                <div class="col-md-6 template-step-option template-option-orm" data-librariy="nh"
                  style="display: none;">
                  <div>
                    <div class="template-step-left">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="template-step-right">
                      <h5>NHibernate</h5>
                      <img src="/images/logos/nhibernate-logo.png">
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <!-- End of Tabs -->


        <div class="row">
          <div class="col-md-12">
            <div>
              <h4>Options</h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <input id="IncludeModuleZeroCheckbox" type="checkbox" name="IncludeModuleZero" value="true"
              checked="checked">
            &nbsp;
            <label for="IncludeModuleZeroCheckbox"> Include login, register, user, role and tenant management
              pages.</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <input id="IsMergedSolutionCheckbox" type="checkbox" name="IsMergedSolution" value="false"> &nbsp;
            <label for="IsMergedSolutionCheckbox"> One solution (include the client side project into the server side
              solution instead of separate solutions)</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div>
              <h4 style="margin-top: 25px;">Choose your project's name</h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <form id="CreateTemplateForm" method="POST" autocomplete="off" action="/Templates/Create">

              <input name="TemplateName" type="hidden" value="abp">
              <input name="Architecture" type="hidden" value="angular">
              <input name="Orm" type="hidden" value="ef">
              <input name="Framework" type="hidden" value="netcoreapp1.1">
              <input name="FrameworkVersion" type="hidden" value="">

              <div class="form-group">
                <label for="ProjectName" style="font-size: 0.9em">(like "MyCompany.MyProject" or just
                  "MyProject")</label>
                <input type="text" class="form-control" name="ProjectName" required="required">
              </div>

              <div class="form-group">
                <label style="font-size: 0.9em">Email address (Optional)</label>
                <input type="email" class="form-control" name="EmailAddress">
                <small class="form-text text-muted mb-2">
                  Enter your email to get the latest news about the ASP.NET Boilerplate
                </small>
              </div>

              <input name="RobotDetection" value="" style="display: none">

              <div class="form-group">
                <h4 style="margin-top: 25px;">Enter the captcha code</h4>
                <input type="text" class="form-control" name="CaptchaValue" id="CaptchaValue" required="required"
                  style="text-transform: uppercase; z-index: 999; width: 250px">
                <div style="background-color: white; height: 10px;"></div>
              </div>

              <div class="form-group">
                <input id="IsStableVersionCheckbox" type="checkbox" name="IsStableVersion" value="true"
                  checked="checked">
                &nbsp;
                Latest stable (uncheck to get latest version including pre-releases)
              </div>

              <button type="submit" id="CreateTemplateButton" class="button small green vst-btn-templatescreateproject"
                style="margin-top: 10px;">Create my project!</button>
              <input name="__RequestVerificationToken" type="hidden"
                value="CfDJ8MHR6i_nIDFEvS-QuNr9s3pucx0BaNRHguYHiCDFDMt61ZoHKPGkGv6y1Q3Zd032E6e5iPnjLARvtlZCKdH63uqcCuaReqGnDhIWMF8vXm5WgdxRwX93pMqHn2jDq3UWGHXOZtmQ2S_GJQ-QkijHvX8">
            </form>
          </div>
        </div>

      </div>

    </div>

    <div id="PaidStartupTemplatesArea mb-5" style="padding: 10px; border: 1px solid #ededed; margin-top: 20px;">
      <h3 style="border-bottom: 5px solid #4392F1; padding-bottom: 8px; color: #4392F1; font-weight: 400">Premium
        Startup Templates</h3>
      <div class="row">
        <div class="col-md-12">
          <p class="lead">
            Looking for a full featured, production ready startup template?
            Check <a href="https://aspnetzero.com?ref=abptmplpage">ASP.NET ZERO</a>!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <a href="https://aspnetzero.com?ref=abptmplpage">
            <img class="image" alt="ASP.NET ZERO" src="assets/images/asset 7.png">
          </a>
        </div>
        <div class="col-md-6">
          <p>
            <strong>ASP.NET Zero</strong> is an enterprise level <strong>base solution</strong> to jump start your new
            project.
            It's based on ASP.NET Boilerplate framework and built with best practices. Highlights:

          </p>
          <ul class="list-unstyled">
            <li><i class="fa fa-check"></i> User, role, permission and organization unit management UI.</li>
            <li><i class="fa fa-check"></i> Tenant, edition and feature management UI, tenant subscription system.</li>
            <li><i class="fa fa-check"></i> Xamarin mobile application.</li>
            <li><i class="fa fa-check"></i> Setting management UI.</li>
            <li><i class="fa fa-check"></i> Dynamic language management UI, RTL support.</li>
            <li><i class="fa fa-check"></i> Real time chat and notification system.</li>
            <li><i class="fa fa-check"></i> Audit log report UI.</li>
            <li><i class="fa fa-check"></i> User profile, account linking, impersonation, social logins and more...</li>
            <li><i class="fa fa-check"></i> Based on premium metronic theme.</li>
          </ul>
          <p></p>

          <p style="margin-top: 20px;">
            <a class="button small green vst-btn-templatesseedemo" href="https://aspnetzero.com?ref=abptmplpage"
              target="_blank">
              SEE LIVE DEMO
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12">
        <p>Want to know differences of free and paid templates? See <a
            href="https://docs.aspnetzero.com/documents/common/latest/Abp-Template-vs-AspNet-Zero" target="_blank">the
            comparison table</a>.</p>
      </div>
    </div>
  </div>
</section>