.banner {
  padding: 8rem 0 2rem;
  background-image: url('../../../../assets/images/asset 12.jpeg');
  margin-top: -94px;

  h1 {
    font-weight: 300;
    color: #333;
    font-size: 4.5em;
    margin-bottom: 30px;
  }

  h2 {
    text-transform: none;
    font-size: 1.5em;
    letter-spacing: 0;
    color: #1a1a1a;
    line-height: 1.5;
    font-weight: 300;
  }
}